<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
	 <nav class="navbar navbar-expand-lg bg-info navbar-info">

        <div class="container">

            <a class="navbar-brand"
               th:href="@{/}">
                Blog App Spring Boot Version 2.0
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarContent">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse"
                 id="navbarContent">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/}">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/posts}">
                            Posts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/tags}">
                            Tags
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/categories}">
                            Categories
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>
</div>