<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin_layout}">
<head>
<meta charset="UTF-8">
<title>Edit - User Role</title>
</head>
<style>
.error {
	color: red;
}
</style>
<div layout:fragment="content">
	<div class="bg-light">
		<div class="container py-5">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-xl-7">
					<div class="card shadow-sm">

						<div class="card-header bg-secondary text-white">
							<h2 class="mb-0">Edit Role</h2>
						</div>

						<div class="card-body p-4">
							<form method="post" th:action="@{/users/role}"
								th:object="${user}" enctype="multipart/form-data">
								<input type="hidden" th:field="${user.id}" />
								
								<div><strong>User Name : </strong></div>
								<div th:text = "${user.username}"></div>
								
								<div><strong>Email : </strong></div>
								<div th:text = "${user.email}"></div>
								<div style="align-items: center; width: 100%;">
					      		 <img th:if="${user.photo != null}" 
					             th:src="@{/photos/{id}(id=${user.id})}" 
					             alt="Thumbnail Error" 
					             style="height: 198px; width: auto; object-fit: cover; border-radius: 8px;" /></div>

								<div class="mb-4">

									<label class="form-label fw-semibold d-block"> Role : </label>

									<div class="d-flex gap-4">

										<div class="form-check" th:each="s : ${availableRoles}" th:if="${s.name() != 'SUPERADMIN'}">

											<input class="form-check-input bg-secondary" type="radio"
												th:field="*{role}" th:value="${s}"
												th:id="${'role-' + s}" > <label
												class="form-check-label" th:for="${'role-' + s}"
												th:text="${s}"></label>
										</div>
									</div>
								</div>

								<div
									class="d-flex justify-content-between align-items-center pt-3 border-top">

									<a th:href="@{/users}" class="btn btn-outline-secondary">
										Cancel </a>
									<button type="submit" class="btn btn-secondary">
										Edit Role</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap JavaScript -->
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	</div>
</div>
</html>